.table-container {
    display: grid;
    margin-top: 2em;
    width: 100%;
}

.table-body {
    border: 2px solid #007071;
}

.tan {
    background-color: rgb(247, 243, 228);
}

.table-headers {
    display: grid;
    background-color: #007071;
    /* width: 100%; */
}

.header {
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 24px;
    margin: 0;
    padding-top: 1.75em;
    padding-bottom: 0.75em;
    padding-left: 0.5em;
    text-align: left;
}

.header.skills {
    margin-top: 1.95em;
}

.header.connections {
    padding-top: 1em;
    padding-right: 0.1em;
    padding-left: 0.1em;
}

.header.resources {
    margin-top: 1.8em;
}

.header.lex {
    text-align: right;
    padding-right: 0.5em;
    padding-left: 0;
    margin-top: 1.8em;
}

.books {
    display: grid;
}

.book {
    display: grid;
}

.lex-col {
    grid-column-start: 1;
    grid-column-end: 6;
}

.skills-container {
    border-right: 2px solid #007071;
    display: grid;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 18px;
    padding: 1em;
    padding-top: 0.8em;
}

.skills-col {
    grid-column-start: 6;
    grid-column-end: 9;
}

.connections-col {
    grid-column-start: 9;
    grid-column-end: 12;
}

.resources-col {
    grid-column-start: 12;
    grid-column-end: 15;
}

.book-container {
    display: flex;
    flex-direction: row;
    border-right: 2px solid #007071;
    padding: 1em;
}

.left-side {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.25em;
    margin-top: 0;
}

.table-row {
    display: grid;
}

.connections-container {
    border-right: 2px solid #007071;
    display: grid;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: 400;
    padding: 1em;
    padding-right: 0.5em;
    padding-top: 1em;
}

.connections-container p {
    margin-top: 0;
    margin-bottom: 0em;
    line-height: 25px;
}

.resources-container {
    display: grid;
    padding: 1em;
    padding-left: 1.5em;
    padding-top: 1em;
}

.language-section {
    display: flex;
    flex-direction: column;
}

.connection {
    display: flex;
    flex-direction: row;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons img {
    height: 15px;
}

.title {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    /* position: relative;
    bottom: .1em */
}

.genre-author {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 0.2em;
}

.synopsis {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 24px;
    margin-top: 0.5em;
}

.lexile {
    color: #007071;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.2em;
}

.skills {
    margin-top: 0.25em;
    line-height: 25px;
    padding-left: 0em;
    margin-bottom: 0em;
}

.skill {
    margin-left: 0.25em;
    margin-bottom: 0.33em;
}

.language-header {
    color: #007071;
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.icons a img {
    height: 29px;
    padding-right: 0.5em;
    padding-bottom: 1em;
}

@media (min-width: 843px) {
    .skills-container {
        font-size: 18px;
    }

    .skills {
        padding-left: 0.33em;
    }
}

@media (min-width: 869px) {
    .header.connections {
        margin-top: 0em;
        padding-bottom: 0;
    }

    .header.lex {
        margin-top: 0.6em;
    }

    .header.skills {
        margin-top: 0.705em;
    }

    .header.resources {
        margin-top: 0.59em;
    }
}

@media (min-width: 908px) {
    .skills-container {
        font-size: 20px;
    }
}

@media (min-width: 1280px) {
    .header.skills {
        margin-top: .1em;
        padding-top: 1em;
    }

    .header.lex {
        margin-top: 0;
        padding-top: 1em;
    }

    .header.resources {
        margin-top: 0;
        padding-top: 1em;
    }

    .skills-col {
        grid-column-start: 6;
        grid-column-end: 8;
    }

    .connections-col {
        grid-column-start: 8;
        grid-column-end: 12;
    }
}
