body {
    margin: 0;
    min-width: 801px;
}

.App {
    display: grid;
    width: 100%;
}

.all-columns {
    grid-template-columns: 61px repeat(12, 1fr) 61px;
}

.col-14 {
    grid-column-start: 1;
    grid-column-end: 15;
}

.col-6 {
    grid-column-start: 2;
    grid-column-end: 10;
}

.col-3 {
    grid-column-start: 4;
    grid-column-end: 10;
}

.col-5 {
    grid-column-start: 2;
    grid-column-end: 11;
}

.col-4 {
    grid-column-start: 3;
    grid-column-end: 10;
}

.col-8 {
    grid-column-start: 2;
    grid-column-end: 10;
}

.col-7 {
    grid-column-start: 2;
    grid-column-end: 14;
}

.col-right {
    grid-column-start: 11;
    grid-column-end: 13;
}

@media (min-width: 1280px) {
    .all-columns {
        grid-template-columns: auto repeat(12, 106.666667px) auto;
    }

    .col-6 {
        grid-column-start: 2;
        grid-column-end: 6;
    }

    .col-5 {
        grid-column-start: 2;
        grid-column-end: 9;
    }

    .col-7 {
        grid-column-start: 2;
        grid-column-end: 14;
    }

    .col-4 {
        grid-column-start: 2;
        grid-column-end: 6;
    }
}
